#hello-world-canvas {
    border: 1px solid black;
    display: block;
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

#line-canvas {
    border: 1px solid black;
    display: block;
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

#complex-lines {
    border: 1px solid black;
    display: block;
    width: 600px;
    height: 300px;
    margin: 1rem auto;
}

#line-caps {
    border: 1px solid black;
    display: block;
    width: 600px;
    height: 300px;
    margin: 1rem auto;
}